.landingPageDisplay {
    background-image: url("../../public/landing-page-bg.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-height: 100%;
}

.overlay {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.landingPageDisplayText{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
    text-align: center;
    gap: 5vh;
}

.landingPageDisplayText h1 {
    color: #D1AE00;
    width: 90%;
}

.landingPageDisplayText p {
    width: 70%;
}

.landingPageDisplayText p:last-child {
    font-weight: bold;
}

.login {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: underline;
}

.loginText {
    font-size: 0.9rem;
}

.buttons {
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    gap: 5vh;
}

.buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}