.container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow:0px 5px 10px #1a1a1a;
    transition: all .3s ease-in-out;
    overflow: hidden;
    background-color: black;
}

@media (hover: hover) {
    .container:hover .image {
        transform: scale(1.05, 1.05);
    }
    
    .container:hover .title{
        white-space: normal;
        transform: translateY(-240px);
    }
    
    .container:hover .text{
        transform: translateY(-240px);
    }
    
    .container:hover .image {
        opacity: 20%;
    }
    
    .container:hover .overlay {
        opacity: 0;
    }
}

.image {
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.199), rgb(19, 19, 19));
    transition: all .4s ease-in-out;
    border-radius: 10px;
}

.title {
    padding-right: 20px;
    position: relative;
    top: 85%;
    line-height: 30px;
    left: 5%;
    z-index: 99;
    font-weight: normal;
    font-size: 1rem;
    transition: all .3s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.text {
    top: 95%;
    left: 5%;
    position: relative;
    z-index: 99;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    font-size: 0.8rem;
}

@media screen and (max-width: 799px) {
    .container {
        width: 250px;
        height: 250px;
    }
}

