@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500&display=swap');

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
}

.landingPage {
    display: flex;
    height: 100vh;
}

.landingPageDisplay {
    background-image: url("../public/landing-page-bg.jpg");
    background-position: center center;
    background-size: cover;
    width: 90%;
    position: relative;
}

.landingPageDisplayText {
    position:relative;
    top: 50%;
    padding: 0 50px;
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #D5D5D5;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: #D1AE00;
    margin: 0;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.separator {
    width: 8%;
    height: 5px;
    border-radius: 10px;
    background-color: #232323;
}

.or {
    font-size: 3rem;
    font-weight: 400;
}

.landingPageDisplayText p {
    word-spacing: 1px;
    line-height: 1.8;
    font-size: 1rem;
    white-space: pre-line;
}

.landingPageDisplayText p:last-child {
    font-size: 1rem;
    line-height: 1;
    word-spacing: 1px;
    font-weight: bold;
}


.landingPageSidebar {
    width: 30%;
    background-color: #232323;
    position: relative;
    background-image: url("../public/box-icon.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30%;
    background-size: 40%;
    text-align: center;
}

.login {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: underline;
}

.loginText {
    font-size: 0.9rem;
}

.boxImage {
    position: absolute;
    top: 25%;
    right: 50%;
}

.landingPageSidebarContent {
    position:relative;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    justify-content: space-between;
    color: #D5D5D5;
}

.landingPageSidebarContent a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .heading {
        font-size: 3rem;
    }

    .or {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1080px) {
    .landingPageDisplay {
        width: 80%;
    }
}


@media screen and (max-width: 930px) {
    .heading {
        font-size: 2.5rem;
    }

    .or {
        font-size: 2.2rem;
    }
}
