    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100000;
    }

    .modal {
        background-color: #232323;
        border: 2px solid #D5D5D5;
        width: 800px;
        height: 700px;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .closeBtn {
        font-size: 1.8rem;
        vertical-align: bottom;
    }

    .body {
        /* border: 1px solid red; */
        width: 90%;
        height:90%;
    }