    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100000;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #232323;
        border: 2px solid #D5D5D5;
        max-width: 100vw;
        width: 800px;
        max-height: 100vh;
        height: 700px;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .closeBtn {
        font-size: 1.8rem;
        vertical-align: bottom;
    }

    .body {
        /* border: 1px solid red; */
        width: 90%;
        height:90%;
    }

    @media screen and (max-width: 799px) {
        .modal {
            width: 100vw;
            height: 100vh;
            border-radius: 0;
            border: none;
        }
    }