.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    padding: 10px 30px;
    color: #D5D5D5;
    height: 70px;
    border-bottom: 2px solid #444444;
    position: fixed;
    width: 100%;
    z-index: 150;
}
  
.navBarDiv {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.navBarDiv:last-child {
    justify-content: flex-end;
}

.navBar a {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1;
    font-size: 1rem;
}

.navBarAnchor {
    
}

.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
}

.searchIcon {
    margin-left: 6px;
    position: absolute;
    font-size: 1.1rem;
}

.search {
    width: 70%;
    outline: none;
    height: 1.7rem;
    padding: 0.7rem 0.7rem 0.7rem 1.5rem;
    background-color: #444444;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #D5D5D5;
    transition: all .2s ease-in;
}

.search:focus {
    border: 2px solid #D5D5D5;
    width: 100%;
}

.profileIcon {
    filter: invert(100%) sepia(0%) saturate(4984%) hue-rotate(180deg) brightness(109%) contrast(67%);
}